<!DOCTYPE html>
{% load static %}
<html lang="en">

    
    <body>
        <!-- Spinner Start -->
       {% include 'header.html' %}
        <!-- Page Header End -->


        <!-- Fact Start -->
        {% include "fact.html" %}
        <!-- Fact End -->


        <!-- About Start -->
        <div class="container-fluid py-5 my-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            {% for i in aboutus %}
                            <img src="/media/{{i.about_image}}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="/media/{{i.about_image}}" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                        <h5 class="text-primary">About Us</h5>
                        <h1 class="mb-4">{{i.about_heading}}</h1>
                        <p>{{i.about_p1}}</p>
                        <p class="mb-4">{{i.about_p2}}</p>
                        <a href="" class="btn btn-secondary rounded-pill px-5 py-3 text-white">More Details</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- About End -->


        


        <!-- Footer Start -->
        {% include 'footer.html' %}
        <!-- Footer End -->


       
    </body>

</html>