<div class="container-fluid py-5 primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-warning counter-value">99</h1>
                    <h5 class="text-white mt-1">Success in getting happy Students</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-warning counter-value">98</h1>
                    <h5 class="text-white mt-1">% Placed in top companies</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-warning counter-value">35 </h1>                    
                    <h5 class="text-white mt-1">Thousands brilliant students</h5>
                </div>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
                <div class="d-flex counter">
                    <h1 class="me-3 text-warning counter-value">5</h1>
                    <h5 class="text-white mt-1">Stars reviews given by satisfied Students</h5>
                </div>
            </div>
        </div>
    </div>
</div>